@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #006fff;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: #2d2d2d;
}
body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  background: rgb(2, 47, 108);
  background: linear-gradient(
    90deg,
    rgba(2, 47, 108, 1) 0%,
    rgba(2, 140, 158, 1) 50%,
    rgba(8, 126, 224, 1) 100%
  );
}
#root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.Footer {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: 500;
  display: grid;
  place-content: center;
  color: #fff;
}
.About,
.Missing {
  width: 100%;
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
  background-color: #34495e;
}
.Missing h2,
.About h2 {
  font-size: 1.75rem;
  font-weight: 500;
}
.Missing p,
.About p {
  font-size: 1.25rem;
}
.Missing p {
  margin-top: 1rem;
}
.statusMsg {
  margin-top: 2rem;
}

/*media queries*/
@media (max-width: 992px) {
  html {
    font-size: 10px;
  }
}
